*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100vw;
    background-color: rgb(236, 243, 249);
}

nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.part1{
    display: flex;
    gap: 5px;
    margin-left: 4rem;
}

.part3{
    margin-right: 4rem;
}

button{
    padding: 8px 17px;
    border-radius: 17px;
    font-weight: 600;
}

#btn{
    border: none;
    background-color: orangered;
    color: white;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 4px 17px;
    border-radius: 2rem;
}

.ri-menu-line{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 4px 7px;
    border-radius: 2rem;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80%;
    
}

#hero-text{
    text-align: center;
    width: 100vw;
    font-size: 10rem;
}

img{
    height: 500px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    border-radius: 15px;
}
#img1{
    rotate: -14deg;
}
#img2{
    rotate: -10deg;
}
#img3{
    rotate: -4deg;
}
#img4{
    rotate: 1deg;
}

.bottom-text{
    display:flex;
    align-items: center;
    height: 11.2%;
    width: 100vw;
}

.bottom-left{
    position: absolute;
    left: 20px;
    bottom: 60px;
}

.bottom-right{
    position: absolute;
    right: 20px;
    bottom: 60px;
}

.s-media{
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 20px;
    justify-content: center;
    height: 40px;
    width: auto;
}
